<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tellhow.industry.iot.account.dao.AccountDao">
    <select id="getAccountCount" resultType="Integer">
        SELECT count(0)
        FROM
        account a
        LEFT JOIN sys_org b ON a.org_id=b.org_code AND b.status=1
        WHERE a.status=1
        <if test="orgId !='' and orgId !=null">
            AND org_id = #{orgId}
        </if>
        <if test="name !='' and name !=null">
            AND a.name LIKE '%${name}%'
        </if>
        <if test="no !='' and no !=null">
            AND no LIKE '%${no}%'
        </if>
        <if test="certificateNum !='' and certificateNum !=null">
            AND certificate_num LIKE '%${certificateNum}%'
        </if>
        <if test="mobile !='' and mobile !=null">
            AND mobile LIKE '%${mobile}%'
        </if>
    </select>
    <select id="getAccountList" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        a.id id,
        a.name name,
        a.gender gender,
        a.no no,
        certificate_num certificateNum,
        mobile mobile,
        username username,
        usergroup usergroup,
        update_date updateDate,
        face_id faceId,
        face_pic facePic
        FROM
        account a
        LEFT JOIN sys_org b ON a.org_id=b.org_code AND b.status=1
        WHERE a.status=1
        <if test="orgId !='' and orgId !=null">
            AND org_id = #{orgId}
        </if>
        <if test="name !='' and name !=null">
            AND a.name LIKE '%${name}%'
        </if>
        <if test="no !='' and no !=null">
            AND no LIKE '%${no}%'
        </if>
        <if test="certificateNum !='' and certificateNum !=null">
            AND certificate_num LIKE '%${certificateNum}%'
        </if>
        <if test="mobile !='' and mobile !=null">
            AND mobile LIKE '%${mobile}%'
        </if>
        LIMIT #{offSet},#{pageRow}
    </select>

    <insert id="insertOrUpdateAccount">
        <selectKey keyProperty="count" resultType="int" order="BEFORE">
            select count(*) as count from account where id = #{account.id}
        </selectKey>
        <if test="count==0">
            insert into account (id,name,
            gender,no,certificate_num,mobile,org_id,username,usergroup,update_date,face_id,face_pic)
            values
            (#{account.id}, #{account.name}, #{account.gender}, #{account.no},#{account.certificateNum},
            #{account.mobile},#{account.orgId}, #{account.username}, #{account.usergroup}, #{account.updateDate},
            #{account.faceId}, #{account.facePic})
        </if>
        <if test="count>0">
            UPDATE account SET name =#{account.name},
            gender=#{account.gender},
            no=#{account.no},
            certificate_num=#{account.certificateNum},
            mobile=#{account.mobile},
            org_id=#{account.orgId},
            username=#{account.username},
            usergroup=#{account.usergroup},
            update_date=#{account.updateDate},
            face_id=#{account.faceId},
            face_pic=#{account.facePic},
            status=1
            WHERE id=#{account.id}
        </if>
    </insert>

    <update id="tempDeleteAllAccount">
        UPDATE account
        SET
        status = '0'
    </update>

    <select id="getAccountById"
            resultType="com.tellhow.industry.iot.elasticsearch.ElasticsearchApi$Account">
        SELECT
        a.id id,
        a.name name,
        a.gender gender,
        a.no no,
        certificate_num certificateNum,
        mobile mobile,
        username username,
        usergroup usergroup,
        update_date updateDate,
        face_id faceId,
        face_pic facePic
        FROM
        account a
        WHERE a.status=1
        AND id = #{id}
    </select>
</mapper>