<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tellhow.industry.iot.gateway.dao.GatewayDao">
    <select id="getGatewayCount" resultType="Integer">
        SELECT
        count(*)
        FROM
        gateway
        WHERE status=1
        <if test="regionCode !='' and regionCode !=null">
            AND region_code = #{regionCode}
        </if>
        <if test="name !='' and name !=null">
            AND door_name LIKE '%${name}%'
        </if>
    </select>
    <select id="getGatewayList" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        id id,
        door_code doorCode,
        door_name name,
        firm firm,
        update_time updateTime
        FROM
        gateway
        WHERE status=1
        <if test="regionCode !='' and regionCode !=null">
            AND region_code = #{regionCode}
        </if>
        <if test="name !='' and name !=null">
            AND door_name LIKE '%${name}%'
        </if>
        LIMIT #{offSet},#{pageRow}
    </select>

    <select id="getAllGatewayDoors" resultType="com.tellhow.industry.iot.hikvision.gateway.model.Gateway$Door">
        SELECT
        id id,
        door_code doorIndexCode,
        door_name doorName,
        channel_no channelNo,
        channel_type channelType
        FROM
        gateway
        WHERE status=1
    </select>

    <select id="getGatewayDoorsMatchName" resultType="com.tellhow.industry.iot.hikvision.gateway.model.Gateway$Door">
        SELECT
        id id,
        door_code doorIndexCode,
        door_name doorName,
        channel_no channelNo,
        channel_type channelType
        FROM
        gateway
        WHERE status=1
        AND door_name LIKE '%${name}%'
    </select>

    <insert id="insertOrUpdateGatewayDoor">
        <selectKey keyProperty="count" resultType="int" order="BEFORE">
            select count(*) as count from gateway where door_code = #{door.doorIndexCode}
        </selectKey>
        <if test="count==0">
            insert into gateway(door_code,door_name,door_no,
            device_code,region_code,channel_no,channel_type,install_location,remark,create_time,update_time)
            values(
            #{door.doorIndexCode},
            #{door.doorName},
            #{door.doorNo},
            #{door.acsDevIndexCode},
            #{door.regionIndexCode},
            #{door.channelNo},
            #{door.channelType},
            #{door.installLocation},
            #{door.remark},
            #{door.createTime},
            #{door.updateTime}
            )
        </if>
        <if test="count>0">
            UPDATE gateway SET door_name =#{door.doorName},
            door_no=#{door.doorNo},
            device_code=#{door.acsDevIndexCode},
            region_code=#{door.regionIndexCode},
            channel_no=#{door.channelNo},
            channel_type=#{door.channelType},
            install_location=#{door.installLocation},
            remark=#{door.remark},
            create_time =#{door.createTime},
            update_time =#{door.updateTime},
            status=1
            WHERE door_code=#{door.doorIndexCode}
        </if>
    </insert>

    <update id="tempDeleteAllGatewayDoor">
        UPDATE gateway
        SET
        status = '0'
    </update>

    <select id="getGatewayDoorById" resultType="com.tellhow.industry.iot.hikvision.gateway.model.Gateway$Door">
        SELECT
        id id,
        door_code doorIndexCode,
        door_name doorName,
        channel_no channelNo,
        channel_type channelType
        FROM
        gateway
        WHERE status=1
        AND door_code=#{doorCode}
    </select>
</mapper>